extends ../layout

block content
  h1 Login
  p(style="color:red")
    ul(style="color:red")
      each message in messages
        li= message
  p
    | New user?
    |
    a(href="/auth/register") Register
  form(method="POST")
    input(type="email", name="email", placeholder="Email")
    input(type="password", name="password", placeholder="Password")
    br
    button Login
