extends ../layout

block content
  h1 Admin Dashboard
  p You're logged in as #{user.email}. Hi #{user.profile.name ? user.profile.name.split(/\s+/)[0] : 'there'}!
  h2 Tasks
  p
    a(href="/admin/levels/") Levels
  p
    a(href="/admin/users/") Users
