extends layout
block head
  link(rel="stylesheets" href="/stylesheets/index.css")

block content
  center
    h1 Studio
    p
      form.join(action="/join", method="post")
        input(type="text" placeholder="Enter Code")
        button Join
    p or&nbsp;
      a(href="/create") Create a session
