extends layout

block content
  h1 Leaderboard
  br
  table
    tr
      th Rank
      th Name
      th Country
    each user in users
      tr
        td
        td= user.profile.name
        td= user.profile.country