extends ../layout

block head
  script(src="/javascripts/marked.min.js")
  script(src="/javascripts/level.js")

block content
  p(class="level-number") Level #{level.number}
  p(class="level-text")= level.text
  form(method="POST")
    input(type="text", name="answer", placeholder="Answer")
    button(id="submit") Submit