* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 60%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Open Sans', 'Fira Sans', 'Ubuntu', 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  font-size: 2rem;
}

pre {
  font-family: 'SF Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #111111;
  font-weight: 700;
  margin: 1rem 0;
}

h1 {
  font-size: 8rem;
}

a {
  color: rgb(0, 122, 255);
  text-decoration: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
  display: block;
  height: 50px;
  width: 250px;
  font-size: inherit;
  margin-bottom: 1em;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 4px;
  transition: border-color .2s;
  outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus {
  border-color: rgb(0, 122, 255);
}

button {
  background-color: rgb(0, 122, 255);
  font-size: inherit;
  font-weight: 600;
  border-radius: calc(2 * (1rem + 10px));
  padding: 10px 20px;
  color: #fff;
  outline: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

select {
  height: 50px;
  width: 250px;
  background-color: #fff;
  background: url(/images/dropdown-arrow.png) no-repeat 97% center;
  background-size: 15px;
  -webkit-appearance: none;
  font-size: inherit;
  border: 2px solid #eee;
  padding: 10px;
  outline: 0;
  transition: border-color .2s;
}
select:focus {
  border-color: rgb(0, 122, 255);
}

table {
  counter-reset: rowNumber;
  border-collapse: collapse;
  width: 100%;
}

table tr td:first-child {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  margin-right: 0.5em;
}

table td, table th {
  padding: 10px;
  min-width: 300px;
  text-align: left;
}

table tr {
  width: 100%;
  border-bottom: 1px solid black;
}

.level-number {
  color: grey;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}